<h1>Connexion</h1>
<br />
<%= form_tag login_path, method: :post do %>

  <div class="form-groups">
    <label for="name">Nom d'utilisateur: </label>
    <input class="form-control"  type="text" name="name" />
  </div>

  <div class="form-groups">
    <label for="password">Mot de passe: </label>
    <input class="form-control" type="password" name="password" />
  </div>

  <br /><br />
  <input type="submit" class="btn btn-success" value="Se connecter" /> ou <a href="/users/new" class="btn btn-primary">S'inscrire</a>

<% end %>