<!doctype html>

<html lang="fr">
<head>
  <meta charset="utf-8">

  <title><%= @expense.title %></title>

</head>

<body>

    <h1><%= @expense.title %></h1>
    
    <%= @user.name %> a contesté la dépense appelée <%= @expense.title %>
    
</body>
</html>